* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1d1d1d;
  font-family: "Arial", sans-serif;
  color: #f0f0f0;
}
ul {
  list-style: none;
}
.container {
  display: flex;
  flex-direction: column;
  gap: 2em;
  width: 50em;
  margin: 2em auto;
  margin-top: 1.5em;
}
h1 {
  text-align: center;
  margin-bottom: 20px;
}
.options {
  display: flex;
  flex-direction: column;
  padding: 0 60px;

  gap: 25px;
}
.nested-options {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.option-title {
  display: flex;
  align-items: center;
  gap: 15px;
}

.option-title h2 {
  font-size: 1.5rem;
  text-transform: capitalize;
  color: #fffafa;
}
.option-title img {
  width: 27.5px;
}
.modes {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.modes button {
  width: 100px;
  height: 40px;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: bold;
  color: #1d1d1d;
  text-transform: capitalize;
  cursor: pointer;
}
.easy {
  background-color: #28a745;
}
.normal {
  background-color: #ffa500;
}
.hard {
  background-color: #ff5733;
}
.easy:hover {
  background-color: #218838;
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.normal:hover {
  background-color: #e69500;
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.hard:hover {
  background-color: #c30025;
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.easy.active {
  transform: scale(0.95);
}

.normal.active {
  transform: scale(0.95);
}

.hard.active {
  transform: scale(0.95);
}
.active-mode {
  transform: scale(1.2);
  margin: 0 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}
.toggle-settings-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.toggle-settings {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 100px;
}
.toggle-container {
  position: relative;
}
.toggle {
  display: flex;
  align-items: center;
  background-color: rgb(255, 30, 79);
  height: 30px;
  width: 65px;
  border-radius: 20px;
  transition: 0.3s;
}
.toggle-switch {
  position: absolute;
  top: 2px;
  left: 2px;
  height: 26px;
  width: 26px;
  border-radius: 20px;
  background: #2b2b2b;
  cursor: pointer;
  transition: 0.3s;
}
.toggle-switch.active {
  position: absolute;
  top: 2px;
  left: 38px;
  right: 2px;
  height: 26px;
  width: 26px;
  border-radius: 20px;
  background: #2b2b2b;
}
.toggle.active {
  background-color: #4caf50;
}
.duration {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.duration button {
  width: calc(280px / 4);
  height: 40px;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: bold;
  color: #fffafa;
  border: 2px solid #fffafa;
  background-color: transparent;
  text-transform: capitalize;
  cursor: pointer;
}
.duration button:hover {
  background-color: #fffafa;
  color: #1d1d1d;
  border-color: #1d1d1d;
}

.duration button.duration-active {
  background-color: #1d1d1d;
  color: #fffafa;
  transform: scale(0.95);
}
.start-container {
  display: flex;
  gap: 1em;
  align-self: center;
}
.start-container button {
  width: 200px;
  height: 50px;
  border-radius: 5px;
  font-size: 2rem;
  font-weight: 550;
  text-transform: uppercase;
  cursor: pointer;
}
.start {
  background-color: #4cfd72;
}
.start:hover {
  opacity: 0.9;
}
.start:active {
  transform: scale(1.01);
}
.reset {
  background-color: rgb(252, 87, 87);
}
.reset:hover {
  opacity: 0.9;
}
.reset:active {
  transform: scale(1.01);
}
.coming-soon {
  display: none;
  font-size: 3rem;
  color: whitesmoke;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
}

@media (max-width: 1235px) {
  .board {
    width: 100%;
  }
}
@media (max-width: 720px) {
  .container {
    display: none;
  }

  .coming-soon {
    display: inline-block;
    text-align: center;
    margin-top: 35%;
  }
}
