:root {
  --target-color: #ff4d4d;
  --radius: 30px;
  --volume: 30px;
  --y: 50%;
  --x: 50%;
  --sec-target-color: #4d94ff;
  --sec-radius: 30px;
  --sec-volume: 30px;
  --sec-y: 50%;
  --sec-x: 50%;
  /*light theme body*/
  --board-color: #f0f0f0;
  --bg-color: #2e2e2e;
  --board-border-color: #ddd;
  --score-color: #e0e0e0;

  /*light theme buttons*/
  --reset-color: rgb(56, 56, 56);
}
.darkmode {
  --board-color: rgb(56, 56, 56);
  --bg-color: #f0f0f0;
  --board-border-color: rgb(56, 56, 56);
  --score-color: rgb(56, 56, 56);
  --reset-color: #f0f0f0;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
}

body {
  max-height: 100vh;
  background-color: var(--bg-color);
  font-family: "Arial", sans-serif;
  color: #f0f0f0;
}

.container {
  margin-top: 1em;
}

.view-port {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
}
.score-container {
  position: relative;
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  gap: 21em;
  width: 70em;
}
.themes-container {
  position: relative;
  display: flex;
}
.toggle {
  display: flex;
  align-items: center;
  background-color: rgb(235, 235, 235);
  height: 30px;
  width: 65px;
  border-radius: 20px;
  transition: 0.3s;
}
.toggle-switch {
  position: absolute;
  top: 2px;
  left: 2px;
  height: 26px;
  width: 26px;
  border-radius: 20px;
  background: #4d4d4d;
  cursor: pointer;
  transition: 0.3s;
}
.toggle-switch.active {
  position: absolute;
  top: 2px;
  left: 38px;
  right: 2px;
  height: 26px;
  width: 26px;
  border-radius: 20px;
  background: white;
}
.toggle.active {
  background-color: #4d4d4d;
}
.score {
  color: var(--score-color);
  font-size: 2.5rem;
  text-transform: capitalize;
}
.trys {
  display: flex;
  align-items: center;
  gap: 0.5em;
}
.try {
  border: 2px solid black;
  background-color: greenyellow;
  border-radius: 20px;
  width: 30px;
  height: 30px;
}
.hitten {
  background-color: red;
}
.board {
  position: relative;
  background-color: var(--board-color);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.6);
  border-radius: 15px;
  height: 27em;
  width: 70em;
  overflow: hidden;
  border: 2px solid var(--board-border-color);
  transition: transform 0.3s;
  z-index: 1;
}

.target {
  position: absolute;
  top: var(--y);
  right: var(--x);
  width: var(--volume);
  height: var(--volume);
  border-radius: var(--radius);
  background-color: var(--target-color);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 4;
}

.sec-target {
  position: absolute;
  top: var(--sec-y);
  right: var(--sec-x);
  width: var(--sec-volume);
  height: var(--sec-volume);
  border-radius: var(--sec-radius);
  background-color: var(--sec-target-color);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 2;
}

@keyframes popup {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    transform: scale(1.1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

.popup {
  position: absolute;

  opacity: 1;
  animation: popup 0.5s forwards;
}

.reset {
  background-color: var(--score-color);
  color: var(--reset-color);
  user-select: none;
  cursor: pointer;
  font-size: 2rem;
  border-radius: 30px;
  height: 50px;
  width: 150px;
  transition: ease-in 0.2s;
  text-shadow: 2px 0px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 2px 2px 10px 4px rgba(0, 0, 0, 0.2);
}

.reset:hover {
  background: transparent;
  box-shadow: none;
  border: 3px solid var(--score-color);
  color: var(--score-color);
  text-shadow: none;
}

.timer-container {
  display: flex;
  gap: 0.5em;
  align-items: center;
  justify-content: center;
  background-color: var(--score-color);
  height: 50px;
  width: 150px;
  border-radius: 30px;
  padding: 0 10px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
  transition: ease-in 0.2s;
}

.timer {
  font-size: 2rem;
  text-transform: capitalize;
  color: var(--reset-color);
  font-weight: bold;
  transition: ease-in 0.2s;
}
.timer-container img {
  width: 30px;
  height: 30px;
}

.reset-timer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2em;
}

.last-score {
  z-index: 10;
  color: var(--score-color);
  font-size: 2rem;
}
.coming-soon {
  display: none;
  font-size: 3rem;
  color: whitesmoke;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
}
@media (max-width: 1235px) {
  .board {
    width: 100%;
  }
}
@media (max-width: 720px) {
  .container {
    display: none;
  }

  .coming-soon {
    display: inline-block;
    text-align: center;
    margin-top: 35%;
  }
}
